[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://git-scm.com/docs/git-submodule
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim
